<main>
  <div class="small-12 columns" style="background-color: white; outline-style: solid; outline-color: black; padding: 1em;">
    <div class="row" style="padding-bottom: 0.7em;">
      <h4>Import Parties</h4>
    </div>
    <div class="row">
      <%= form_tag import_parties_path, multipart: true do %>
      <%= file_field_tag :file %>
    </div>
    <div class="row" style="font-size: 0.8em;">
      <%= submit_tag "Import CSV" %>
    </div>
  <% end %>
</main>