@font-face {
	font-family: 'Aaargh';
	src:font-url('Aaargh-webfont.eot');
	src:font-url('Aaargh-webfont.eot?iefix') format('eot'),
		font-url('Aaargh-webfont.woff') format('woff'),
		font-url('Aaargh-webfont.ttf') format('truetype'),
		font-url('Aaargh-webfont.svg#webfont') format('svg');
}