@font-face {
	font-family: 'aquiline';
	src:font-url('AquilineTwo-webfont.eot');
	src:font-url('AquilineTwo-webfont.eot?iefix') format('eot'),
		font-url('AquilineTwo-webfont.woff') format('woff'),
		font-url('AquilineTwo-webfont.ttf') format('truetype'),
		font-url('AquilineTwo-webfont.svg#webfont') format('svg');
}