@font-face {
	font-family: 'carbontype';
	src:font-url('carbontype-webfont.eot');
	src:font-url('carbontype-webfont.eot?iefix') format('eot'),
		font-url('carbontype-webfont.woff') format('woff'),
		font-url('carbontype-webfont.ttf') format('truetype'),
		font-url('carbontype-webfont.svg#webfont') format('svg');
}