@font-face {
	font-family: 'champagne';
	src:font-url('cac_champagne-webfont.eot');
	src:font-url('cac_champagne-webfont.eot?iefix') format('eot'),
		font-url('cac_champagne-webfont.woff') format('woff'),
		font-url('cac_champagne-webfont.ttf') format('truetype'),
		font-url('cac_champagne-webfont.svg#webfont') format('svg');
}