@font-face {
	font-family: 'freebooter';
	src:font-url('freebooterscript-webfont.eot');
	src:font-url('freebooterscript-webfont.eot?iefix') format('eot'),
		font-url('freebooterscript-webfont.woff') format('woff'),
		font-url('freebooterscript-webfont.ttf') format('truetype'),
		font-url('freebooterscript-webfont.svg#webfont') format('svg');
}