@font-face {
	font-family: 'twodumb';
	src:font-url('2Dumb-webfont.eot');
	src:font-url('2Dumb-webfont.eot?iefix') format('eot'),
		font-url('2Dumb-webfont.woff') format('woff'),
		font-url('2Dumb-webfont.ttf') format('truetype'),
		font-url('2Dumb-webfont.svg#webfont') format('svg');
}