<% render 'code' %>
<main>
	<h2>Primary Season Calendar</h2>
	<fullarticle>
	  <table>
	    <thead>
	      <tr>
	        <th>Name</th>
	        <th>Type</th>
	        <th>Party</th>
	        <th>Date</th>
	      </tr>
	    </thead>

	    <tbody>
	      <% @cs.each do |s| %>
	      	<% @state = State.find_by(name: s[:name]) %>
	        <tr>
	          <td><%= link_to s[:name], @state %></td>
	          <td><%= s[:p_or_c] %></td>
	          <td><%= s[:party] %></td>
	          <td><%= s[:date] %></td>
	        </tr>
	      <% end %>
	    </tbody>
	  </table>
	</fullarticle>
</main>