<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Galen Online!</li>
      <li>
        <a href="#">Portfolio</a>
        <ul class="menu vertical">
          <li><%= link_to "Blog", posts_path %></li>
          <li><a href="#">Presidential Primaries</a></li>
          <li><a href="#">Social Tracking</a></li>
        </ul>
      </li>
      <li><%= link_to "Resume", resume_index_path %></li>
      <li><a href="https://github.com/philhartmanonic">Github</a></li>
      <li>
        <a href="#">Music</a>
        <ul class="menu vertical">
          <li><a href="http://teatsunami.bandcamp.com/">Tea Tsunami</a></li>
          <li><a href="https://www.reverbnation.com/galenwarnerburghardt">Solo</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>