<%= render 'shared/topmenu' %>
<%= render 'shared/head' %>
<br>
<main data-equalizer>
	<p><h3>So who is this "Galen" character anyways?</h3></p>

	<div class="row" id="name_main">	
		<%= image_tag "bbg.jpg", align: "left", hspace: "20", width: "200" %>
		<p>I'm a father, web developer, musician, retired punk rocker, and I get oddly excited when given the opportunity to talk about the Jungian philosophy on psychology and psychoanalysis.</p>
		<p>As a web developer, I specialize in Rails, Python, and Data Modeling.  I'm in the process of getting up to speed with all of these JS frameworks, as that seems to be the way the wind is blowing.</p>
		<p>I got into development because of the charming guy in the picture.</p>
		<p><h4>Some back story</h4></p>
		<p>I’ve been working in Business Development Consulting, Marketing, and Sales Operations for years.  It was alright, I was happy to be working and I loved a lot of the people I was working with, but I was always jealous of the brilliant developers, data architects, and solution architects that were all around me.  I loved how they were tackling big problems, and had this tactile relationship with their work that simply isn’t available in Marketing.</p>

		<p>That’s when this dude came around, and it ceased to be a matter of comfort.  I needed to set an example for him.  I need him to know that there’s a reason I have to leave him every day, that I’m doing work that I’m passionate about and proud of.  I need him to grow up knowing work is hard, but it’s worth it.</p>

		<p>At this point, I had been working with Python and SQL for a year or two, mainly self-directed, but with a few projects at work.  I decided it was time to dive in with both feet, so I left my job and enrolled in the Startup Institute Chicago.  If you’re unfamiliar, SIC is an organization built around preparing people with the hard and soft skills necessary to succeed and thrive in the startup ecosystem.</p>

		<p>I am currently looking to join a team that fundamentally embraces challenge – challenging work, challenging ourselves, and challenging each other to be better.  I want to have fun at work, and I’ve learned the key to that it’s never easy and it always has a purpose</p>
	</div>
	<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

	
</main>
