<div class="expanded row"><center><h1>GALEN ONLINE</h1><br />
	<h4>Welcome to the home of all things Galen W Burghardt related!</h4></center>
</div>
<div class="row"><br><hr><br></div>
<div class="expanded row">
	<div class="small-4 columns" style="background-color: #E6E6E6;">
		<div class="large-11 large-offset-1 columns">
			<div class="row">
				<h5><b>What do we have here?</b></h5>
			</div>
			<div class="row">
				<ul class="vertical dropdown menu" data-dropdown-menu style="max-width: 300px;">
					<li><%= link_to "Blog", posts_path %></li>
					<li><a href="#">Primaries - State by delegates</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="small-8 columns">
		<div class="row">
			<p><h3><center>So who is this "Galen" character anyways?</center></h3></p><br>
		</div>
		<div class="row">	
			<%= image_tag "bbg.jpg", width: "200", align: "left", hspace: "20" %>
			<p>I'm a father, web developer, musician, retired punk rocker, and I get oddly excited when given the opportunity to talk about the Jungian philosophy on psychology and psychoanalysis.</p>
			<p>As a web developer, I specialize in Rails, Python, and Data Modeling.  I'm in the process of getting up to speed with all of these JS frameworks, as that seems to be the way the wind is blowing.</p>
			<p>I got into development because of the charming guy in the picture.</p>
		</div>

