<br>
<div class="extended row">
	<div class="small-12 medium-7 columns">
		<div class="large-11 large-offset-1 columns">
			<div class="row"><h2 style="color:#8A0808;">Galen Burghardt</h2></div>
			<div class="row"><h5 style="color:#01A9DB;">Rails and Python Developer</h5></div>
			<br><br>
			<div class="row"><h3 style="color:#8A0808;">Projects</h3></div>
			<div class="row">
				<ul>
					<li>Statistical Consultant for Jacobson 
						<ul>
							<li>Cleaning and organizing complex client survey data</li>
							<li>Develop intuitive cross-tabs for non-technical analysts</li>
							<li>Used Pandas, NumPy in Python, Excel, and LibreCalc</li>
						</ul>
					</li>
					<li>IOT Consultant for GrowIt! Social
						<ul>
							<li>Developed prototype to explore use of beacon technology using Rails and JavaScript</li>
						</ul>
					</li>
				</ul>
			</div>
			<br><br>
			<div class="row"><h3 style="color:#8A0808;">Experience</h3></div>
			<div class="row"><h4 style="color:#01A9DB;">The Startup Institute</h4></div>
			<div class="row">Web Development Student<br>
				October - December, 2015<br>
				<ul>
					<li>Immersive bootcamp focused on hard and soft skills essential to success in startup environments</li>
					<li>Detailed Ruby on Rails training</li>
					<li>Also worked with JavaScript, AJAX, and Go</li>
				</ul>
			</div>
			<br>
			<div class="row"><h4 style="color:#01A9DB;">Aginity</h4></div>
			<div class="row">Manager, Business Development<br>
				May, 2013 - October, 2015<br>
				<ul>
					<li>Built internal marketing/sales software and tools supporting email campaigns and sales operations</li>
					<li>Hand picked by CTO to spearhead internal Sales and Marketing analytics and BI reporting initiatives</li>
					<li>Led CRM Governance, Email Campaigns, and Inside Sales efforts</li>
				</ul>
			</div>
			<br>
			<div class="row"><h4 style="color:#01A9DB;">Havelock Group / Back Plate Group</h4></div>
			<div class="row">Senior Consultant and VP of Operations<br>
				December, 2011 - June, 2014<br>
				<ul>
					<li>Developed web and social price perception product as a part of a client's broader portfolio</li>
					<li>Lead research, direct campaigns, training, strategy, and change management efforts for a number of analytics providers in the US and UK</li>
					<li>Developed high quality sales materials
						<li>Presentations</li>
						<li>Videos</li>
						<li>Spreadsheets</li>
						<li>Graphic design</li>
					</li>
				</ul>
			</div>
			<br>
			<div class="row"><h4 style="color:#01A9DB;">Political Campaigns</h4></div>
			<div class="row">
				<ul>
					<li>Political Director - Friends of John Millner</li>
					<li>Director of Strategy - Ethan Hastert for Congress</li>
					<li>Lead Writer - Antoine Members for Congress</li>
				</ul>
			</div>
			<br><br>
			
		</div>
	</div>
	<div class="small-12 medium-5 columns">
		<div class="small-11 columns" style="background-color: #E6E6E6;">
			<div class="large-11 large-offset-1 columns" style="background-color: #E6E6E6;">
				<div class="row"><h3 style="color:#8A0808;">Contact</h3></div>
				<div class="row">Email: <a href="mailto:galen.w.burghardt@gmail.com">galen.w.burghardt@gmail.com</a><br>
					Twitter: <a href="https://twitter.com/galenisgalen">@galenisgalen</a>
				</div>
				<br><br>
				<div class="row"><h3 style="color:#8A0808;">Education</h3></div>
				<div class="row">
					DePaul University<br>
					Bachelors of Arts<br>
					Major: Political Science
				</div>
				<br><br>
				<div class="row"><h3 style="color:#8A0808;">Technical Skills / Hobbies</h3></div>
				<div class="row">
					Main Languages<br>
					<ul>
						<li>Python</li>
						<li>Ruby on Rails</li>
						<li>SQL</li>
					</ul>
					<br>
					Other Languages Used<br>
					<ul>
						<li>JavaScript/Angular/SailsJS</li>
						<li>PHP</li>
						<li>Bash</li>
						<li>HTML/CSS</li>
						<li>Go</li>
					</ul>
					<br>
					Third Party Technologies<br>
					<ul>
						<li>Git</li>
						<li>Jupyter</li>
						<li>Anaconda</li>
					</ul>
					<br>
					Engineering<br>
					<ul>
						<li>Data architecture and modeling</li>
						<li>Sales and Marketing Analytics</li>
					</ul>
					<br>
					Hobbies and Interests<br>
					<ul>
						<li>My son, who's a genius voice of a generation</li>
						<li>Singing/Guitar/Bass</li>
						<li>Very long walks</li>
						<li>My vinyl collection</li>
						<li>History, folklore, and geopolitical intrigue</li>
					</ul>
					<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
				</div>
			</div>
		</div>
		<div class="small-1 columns"></div>
	</div>
</div>
