<%= render 'shared/topmenu' %>
<%= render 'shared/head' %>

<hr>
<div class="extended row">
	<div class="small-8 columns">
		<p><h1 style="color:#8A0808">Galen Burghardt</h1></p>
		<p><h3 style="color:#01A9DB">Rails and Python Developer</h3></p>
	</div>
	<div class="small-4 columns">
	</div>
</div>
