<%= render 'shared/topmenu' %>
<secthead><h1>Create a New Role</h1></secthead>
<br>
<main>
	<%= render 'form' %>
</main>
<br>
<hr>
<br>
<div class="row">
<%= link_to 'Show', @role %> |
<%= link_to 'Back', roles_path %>
</div>