<%= render 'shared/topmenu' %>
<secthead>
	The Daily Galen
</secthead>
<br>
<main>
	<% @recents.each do |p| %>
		<blogarticle>
			<bloghead>
				<%= p.title %>
			</bloghead>
			<blogbody>
				<%= p.body %>
			</blogbody>
		</blogarticle>
	<% end %>
</main>