<main>
	<blogarticle>
		<bloghead><blogtitle>New Post</blogtitle></bloghead>
		<blogbody>
			<%= render 'form' %>
		</blogbody>
		<blogfoot>
			<%= link_to 'Back', posts_path %>
		</blogfoot>
	</blogarticle>
</main>

