// Place all the styles related to the States controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "application";
@import "blink";

@mixin word-wrap() {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

next {
	@include flex-grid-row();
	@include flex-grid-column(12);
	@include flex-grid-row-align(spaced, stretch);
	padding-top: 1em;
}

next > pollbox {
	@include flex-grid-row();
	@include flex-grid-column(12);
	@include flex-grid-row-align(justify, stretch);
	padding-top: 1em;
	background-color: white;
	outline-style: ridge;
	outline-color: black;
	margin-bottom: 10px;
}

pollbox > polld {
	@include flex-grid-column(6);
	@include flex-grid-column-align(stretch);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

pollbox > pollr {
	@include flex-grid-column(6);
	@include flex-grid-column-align(stretch);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
pollr > polls,
polld > polls {
	@include flex-grid-row(nest);
	@include flex-grid-column(12);
	@include flex-grid-row-align(justify, stretch);
	padding-left: 1em;
	padding-right: 1em;
	border: 1px solid black;
	margin-bottom: 1em;
}

pollr > shade,
polld > shade {
	font-size: 1.5em;
	font-weight: 400;
}

polls > polla {
	background-color: white;
	outline-style: ridge;
	outline-color: $s-purp3;
	padding-left: 5px !important;
	padding-right: 5px !important;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	word-wrap: break-word;
	@media #{$medium-up} {
		@include flex-grid-column(5.7);
	}
	@include flex-grid-column(10);
}

polla > heads {
	@include flex-grid-row();
	@include flex-grid-column(12);
	font-family: 'Helvetica-Neue', Helvetica, sans-serif;
	font-weight: 600;
	font-size: 0.8em;
	@include word-wrap;
}

polla > date {
	@include flex-grid-row();
	@include flex-grid-column(12);
	font-family: 'Helvetica-Neue', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 0.7em;
}

polla > value {
	@include flex-grid-row();
	@include flex-grid-column(12);
	font-size: 0.8em;
}

article > split {
	@include flex-grid-row(nest);
	@include flex-grid-row-align(spaced, stretch);
}

split > holder {
	@include flex-grid-column(6);
	@include flex-grid-column-align(stretch);
}

holder > paside {
	@include flex-grid-row();
	padding: 1em;
}

paside > result {
	@include flex-grid-row(nest);
	@include flex-grid-column(12);
	font-size: 0.8em;
}
